name: Call Update commit_sha.txt

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  call-update-commit-sha:
    uses: ./.github/workflows/update-commit-sha.yml
    with:
      ref: main
